501_flow.json
[{"id":"4170933.0c4166c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4701e56c.cdd19c","type":"knx-in","z":"4170933.0c4166c","name":"","controller":"16e2f689.bb87a9","x":650,"y":100,"wires":[["32e0ace.a076d54","14590751.49e8b9"]]},{"id":"14590751.49e8b9","type":"debug","z":"4170933.0c4166c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":100,"wires":[]},{"id":"1530178.6fc22e9","type":"knx-out","z":"4170933.0c4166c","name":"lightning","controller":"16e2f689.bb87a9","x":460,"y":100,"wires":[]},{"id":"f72ee81a.bad048","type":"inject","z":"4170933.0c4166c","name":"off","topic":"write","payload":"{\"dstgad\":\"0/1/0\",\"value\":\"0\",\"dpt\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["1530178.6fc22e9"]]},{"id":"135361c7.0a59ce","type":"inject","z":"4170933.0c4166c","name":"on","topic":"write","payload":"{\"dstgad\":\"0/1/0\",\"value\":\"1\",\"dpt\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["1530178.6fc22e9"]]},{"id":"51c58f4f.ff8e9","type":"knx-out","z":"4170933.0c4166c","name":"lightning_status","controller":"16e2f689.bb87a9","x":360,"y":280,"wires":[]},{"id":"1147839b.7148fc","type":"inject","z":"4170933.0c4166c","name":"status","topic":"read","payload":"{\"dstgad\":\"0/1/1\",\"dpt\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["51c58f4f.ff8e9"]]},{"id":"1e7b37bf.906df8","type":"knx-out","z":"4170933.0c4166c","name":"temperature","controller":"16e2f689.bb87a9","x":330,"y":520,"wires":[]},{"id":"a5cf8758.d1d618","type":"inject","z":"4170933.0c4166c","name":"temperature","topic":"read","payload":"{\"dstgad\":\"0/2/0\",\"dpt\":\"9\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["1e7b37bf.906df8"]]},{"id":"6b8b901a.6e234","type":"http response","z":"4170933.0c4166c","name":"webpage","statusCode":"","headers":{},"x":640,"y":280,"wires":[]},{"id":"f5ab93e2.b2ac5","type":"http in","z":"4170933.0c4166c","name":"","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["a1b6b5ea.e2f628"]]},{"id":"a1b6b5ea.e2f628","type":"function","z":"4170933.0c4166c","name":"toKNXDataStatus","func":"msg.payload={\"dstgad\":\"0/1/1\",\"dpt\":\"1\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["51c58f4f.ff8e9"]]},{"id":"32e0ace.a076d54","type":"function","z":"4170933.0c4166c","name":"create http response","func":"var newMsg = global.get('request')\nnewMsg.payload = msg.payload\n//return [msg, newMsg];\nreturn newMsg;","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["6b8b901a.6e234"]]},{"id":"9994a76f.c6a628","type":"http in","z":"4170933.0c4166c","name":"","url":"/on","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["9220de9b.0ec89"]]},{"id":"9220de9b.0ec89","type":"function","z":"4170933.0c4166c","name":"toKNXDataON","func":"msg.payload = {\"dstgad\":\"0/1/0\",\"value\":\"1\",\"dpt\":\"1\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["1530178.6fc22e9"]]},{"id":"7ab59508.ce324c","type":"http in","z":"4170933.0c4166c","name":"","url":"/off","method":"get","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["e1826032.f8bfc"]]},{"id":"e1826032.f8bfc","type":"function","z":"4170933.0c4166c","name":"toKNXDataOFF","func":"msg.payload = {\"dstgad\":\"0/1/0\",\"value\":\"0\",\"dpt\":\"1\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["1530178.6fc22e9"]]},{"id":"c60118f5.48b9a8","type":"http in","z":"4170933.0c4166c","name":"","url":"/temp","method":"get","upload":false,"swaggerDoc":"","x":100,"y":460,"wires":[["f21592fe.e9cd4"]]},{"id":"f21592fe.e9cd4","type":"function","z":"4170933.0c4166c","name":"toKNXDataTemperature","func":"msg.payload={\"dstgad\":\"0/2/0\",\"dpt\":\"9\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["1e7b37bf.906df8"]]},{"id":"16e2f689.bb87a9","type":"knx-controller","z":"","name":"","host":"192.168.0.161","port":"3671","mode":"tunnel/unicast"}]