501_flow.json
[{"id":"e02e64d8.81c728","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a50fb4b4.d9f098","type":"knx-in","z":"e02e64d8.81c728","name":"","controller":"1b502af5.0b4b55","x":650,"y":100,"wires":[["87c06da6.9c03f","b59b1268.06bbb"]]},{"id":"b59b1268.06bbb","type":"debug","z":"e02e64d8.81c728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":100,"wires":[]},{"id":"9e8102ed.a5b4b","type":"knx-out","z":"e02e64d8.81c728","name":"lightning","controller":"1b502af5.0b4b55","x":460,"y":100,"wires":[]},{"id":"3160ab72.fd70d4","type":"inject","z":"e02e64d8.81c728","name":"off","topic":"write","payload":"{\"dstgad\":\"0/1/0\",\"value\":\"0\",\"dpt\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["9e8102ed.a5b4b"]]},{"id":"de5b1996.3b6328","type":"inject","z":"e02e64d8.81c728","name":"on","topic":"write","payload":"{\"dstgad\":\"0/1/0\",\"value\":\"1\",\"dpt\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["9e8102ed.a5b4b"]]},{"id":"558c4530.845c7c","type":"knx-out","z":"e02e64d8.81c728","name":"lightning_status","controller":"1b502af5.0b4b55","x":360,"y":280,"wires":[]},{"id":"95415a46.eb7078","type":"inject","z":"e02e64d8.81c728","name":"status","topic":"read","payload":"{\"dstgad\":\"0/1/1\",\"dpt\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["558c4530.845c7c"]]},{"id":"b1f09cf2.b78cf","type":"knx-out","z":"e02e64d8.81c728","name":"temperature","controller":"1b502af5.0b4b55","x":330,"y":520,"wires":[]},{"id":"d49a276b.2a2e98","type":"inject","z":"e02e64d8.81c728","name":"temperature","topic":"read","payload":"{\"dstgad\":\"0/2/0\",\"dpt\":\"9\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["b1f09cf2.b78cf"]]},{"id":"2755b011.0c17e","type":"http response","z":"e02e64d8.81c728","name":"webpage","statusCode":"","headers":{},"x":640,"y":360,"wires":[]},{"id":"91e5cc85.f2ca8","type":"http in","z":"e02e64d8.81c728","name":"","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["2e8bf669.e2e0ea"]]},{"id":"2e8bf669.e2e0ea","type":"function","z":"e02e64d8.81c728","name":"toKNXDataStatus","func":"msg.payload={\"dstgad\":\"0/1/1\",\"dpt\":\"1\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["558c4530.845c7c"]]},{"id":"87c06da6.9c03f","type":"function","z":"e02e64d8.81c728","name":"create http response","func":"var newMsg = global.get('request')\nnewMsg.payload = msg.payload\n//return [msg, newMsg];\nreturn newMsg;","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["5dc843f6.ae58dc"]]},{"id":"5dc843f6.ae58dc","type":"template","z":"e02e64d8.81c728","name":"page template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"device id: {{payload.dstgad}} <br>\nknx response type: {{payload.type}} <br>\nknx device value: {{payload.value}} <br>","output":"str","x":660,"y":280,"wires":[["2755b011.0c17e"]]},{"id":"dd831407.f2ce38","type":"http in","z":"e02e64d8.81c728","name":"","url":"/on","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["c5ff9cc3.be975"]]},{"id":"c5ff9cc3.be975","type":"function","z":"e02e64d8.81c728","name":"toKNXDataON","func":"msg.payload = {\"dstgad\":\"0/1/0\",\"value\":\"1\",\"dpt\":\"1\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["9e8102ed.a5b4b"]]},{"id":"2bcf1f24.7c644","type":"http in","z":"e02e64d8.81c728","name":"","url":"/off","method":"get","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["89f6de47.15e4e"]]},{"id":"89f6de47.15e4e","type":"function","z":"e02e64d8.81c728","name":"toKNXDataOFF","func":"msg.payload = {\"dstgad\":\"0/1/0\",\"value\":\"0\",\"dpt\":\"1\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["9e8102ed.a5b4b"]]},{"id":"6e49b488.2a52fc","type":"http in","z":"e02e64d8.81c728","name":"","url":"/temp","method":"get","upload":false,"swaggerDoc":"","x":100,"y":460,"wires":[["887c7f5f.555b"]]},{"id":"887c7f5f.555b","type":"function","z":"e02e64d8.81c728","name":"toKNXDataTemperature","func":"msg.payload={\"dstgad\":\"0/2/0\",\"dpt\":\"9\"}\nglobal.set('request', msg);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["b1f09cf2.b78cf"]]},{"id":"1b502af5.0b4b55","type":"knx-controller","z":"","name":"","host":"192.168.0.161","port":"3671","mode":"tunnel/unicast"}]